In [1]:
import os
import pandas as pd
import numpy as np
a = os.getcwd()

In [13]:
path = a +'/data/timeearthquake.csv'

In [14]:
df = pd.read_csv(path)

In [15]:
df.head()

   Magnitude              Origin Time  Latitude  Longitude  Depth
0        2.5  2021-07-31 09:43:23 IST     29.06      77.42    5.0
1        2.4  2021-07-30 23:04:57 IST     19.93      72.92    5.0
2        3.4  2021-07-30 21:31:10 IST     31.50      74.37   33.0
3        3.1  2021-07-30 13:56:31 IST     28.34      76.23    5.0
4        2.1  2021-07-30 07:19:38 IST     27.09      89.97   10.0

In [16]:
df

      Magnitude              Origin Time  Latitude  Longitude  Depth
0           2.5  2021-07-31 09:43:23 IST     29.06      77.42    5.0
1           2.4  2021-07-30 23:04:57 IST     19.93      72.92    5.0
2           3.4  2021-07-30 21:31:10 IST     31.50      74.37   33.0
3           3.1  2021-07-30 13:56:31 IST     28.34      76.23    5.0
4           2.1  2021-07-30 07:19:38 IST     27.09      89.97   10.0
...         ...                      ...       ...        ...    ...
2714        4.8  2019-08-04 06:56:19 IST     12.30      94.80   10.0
2715        4.1  2019-08-04 05:40:33 IST     24.70      94.30   40.0
2716        3.6  2019-08-03 16:29:37 IST     22.50      88.10   10.0
2717        3.5  2019-08-03 01:59:11 IST     24.60      94.20   54.0
2718        4.6  2019-08-01 06:13:21 IST     14.50      92.90   10.0

[2719 rows x 5 columns]

In [18]:
df

      Magnitude              Origin Time  Latitude  Longitude  Depth
0           2.5  2021-07-31 09:43:23 IST     29.06      77.42    5.0
1           2.4  2021-07-30 23:04:57 IST     19.93      72.92    5.0
2           3.4  2021-07-30 21:31:10 IST     31.50      74.37   33.0
3           3.1  2021-07-30 13:56:31 IST     28.34      76.23    5.0
4           2.1  2021-07-30 07:19:38 IST     27.09      89.97   10.0
...         ...                      ...       ...        ...    ...
2714        4.8  2019-08-04 06:56:19 IST     12.30      94.80   10.0
2715        4.1  2019-08-04 05:40:33 IST     24.70      94.30   40.0
2716        3.6  2019-08-03 16:29:37 IST     22.50      88.10   10.0
2717        3.5  2019-08-03 01:59:11 IST     24.60      94.20   54.0
2718        4.6  2019-08-01 06:13:21 IST     14.50      92.90   10.0

[2719 rows x 5 columns]

In [19]:
df=df.drop(['Origin Time'],axis=1)

In [20]:
df

      Magnitude  Latitude  Longitude  Depth
0           2.5     29.06      77.42    5.0
1           2.4     19.93      72.92    5.0
2           3.4     31.50      74.37   33.0
3           3.1     28.34      76.23    5.0
4           2.1     27.09      89.97   10.0
...         ...       ...        ...    ...
2714        4.8     12.30      94.80   10.0
2715        4.1     24.70      94.30   40.0
2716        3.6     22.50      88.10   10.0
2717        3.5     24.60      94.20   54.0
2718        4.6     14.50      92.90   10.0

[2719 rows x 4 columns]

In [21]:
 y = df.iloc[:,0].values

In [40]:
 x = df.iloc[:,1:4].values

In [41]:
x

array([[29.06, 77.42,  5.  ],
       [19.93, 72.92,  5.  ],
       [31.5 , 74.37, 33.  ],
       ...,
       [22.5 , 88.1 , 10.  ],
       [24.6 , 94.2 , 54.  ],
       [14.5 , 92.9 , 10.  ]])

In [42]:
y

array([2.5, 2.4, 3.4, ..., 3.6, 3.5, 4.6])

In [43]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=42)

In [44]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error,r2_score,accuracy_score

In [45]:
rf_model = RandomForestRegressor(n_estimators=100,random_state=42)
rf_model.fit(x_train,y_train)

RandomForestRegressor(random_state=42)

In [46]:
# Take input from the user for earthquake prediction
print("Enter the values for the earthquake features:")
magnitude = float(input("Magnitude: "))
depth = float(input("Depth: "))
latitude = float(input("Latitude: "))
longitude = float(input("Longitude: "))

Enter the values for the earthquake features:
Magnitude: 5
Depth: 2
Latitude: 29.07
Longitude: 77.07

In [47]:
# Create a DataFrame with the user input
input_data = pd.DataFrame([[depth, latitude, longitude]])

In [48]:
# Make prediction on the user input
prediction = rf_model.predict(input_data)

In [49]:
# Display the prediction
if prediction[0] == 1:
    print("Earthquake predicted.")
else:
    print("No earthquake predicted.")

No earthquake predicted.

In [54]:
import pickle

In [55]:
with open('/Users/kumarmayank/Downloads/Earthquake_Time.ipynb', 'r') as file:
    content = file.read()

In [57]:
lines = content.split('\n')
with open('EarthQuake_Time.pkl', 'wb') as file:
    pickle.dump(lines, file)